
* {
 box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}
body {
	margin: 0;
	min-height: 100vh;
}
#page_format {
	height: 1280px; 
	width: 1024px;
	position: relative;
	margin: 0 auto;
	background-image: url("background.jpg");
}
#intro_text {
	color: white;
	font-style: italic;
	font-size: 36px;
	text-align: center;
	float: center;
	
}
 #intro_text h1 {
	color: white;
	font-style: italic;
	font-size: 60px;
	text-align: center;
	float: center;
	margin-bottom: 20px;
 }
 #intro_text p {
	 position: relative;
	 left: 200px;
	 margin-top: 20px;
 }
header {
	height: 395px;
	padding: 0;
	background-image: url("banner.jpg");
}

h2 {
	font-size: 64px;
	color: #003d99;
	text-align: center;
}
}
#googlemap {
	height: 360px;
	width: 360px;
}

nav ul{
	 position: absolute;
	 display: inline-block;
	 top: 290px;
	 height: 68px;
	 padding-inline-start: 0px; 
	 width: 1022px;
	 margin-bottom: 0;
	 overflow: hidden;
}	

.icon-bar {
	 width: 100%;
	 background-color: #555; 
	 overflow: auto; 
}
nav li {
	 display: inline;
	 width: 250px;
}
nav li a {
	 display: inline;
	 float: left; 
	 text-align: center; 
	 width: 20%;
	 padding: 12px 0; 
	 transition: all 0.3s ease; 
	 color: black; 
	 font-size: 36px;
	 min-height: 55px;
	 min-width: 150px;
}

nav li a:hover {
	 background-color: blue;
	 color: black;
}

nav li a:active {
	 background-color: #2196F3;
	 color: white;
} 

main a:link {
	color: #ffd633;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-style: italic;
	
}

nav li input[type=text] {
	 margin-top: 15px;
	 padding: 5px;
	 float: right;
	 border: none;
	 font-size: 24px;
	 width: 15%;
}
#first_time {
	text-align: center;
	float: center;
}


#short_bio {
	display: none;
	background-color: white;
	width: 450px;
	float: center;
	position: absolute;
	bottom: 75px;
	left: 29%;
	border: 2px solid grey;
	font-size: 36px;
	}
#Quick_Intro {
	font-size: 48px;
	border: double;
	border-color: blue;
	color: #0052cc;
	position: relative;
	top: 150px;
	display: inline-block;
	background-color: transparent;
}	

#appeartext {
	display: none;
	font-size: 36px;
	color: white;
	float: bottom;
	width: 100%;
}

table,td {
	border: 1px solid black;
}
th {
	text-align: center;
	font: 36px;
	color: blue;
	padding: 5px;
}

#startbutton {
	border: hidden;
	background-color: transparent;
	position: absolute;
	left: 35%;
	right: 35%;
	font-size: 64px;
	color: Blue;
	text-align: center
}

footer {
		color: white;
		background-color: #000033;
		font-size: 24px;
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
}